@import '../../../../scss/vars';

.admin-panel-edit-company-cont {

    .admin-panel-edit-company {
        display: inline-block;

        &__field-header {
            text-align: left;
            font-size: 18px;
            color: $dark-grey;
            margin-top: 25px;
            margin-bottom: 10px;
            width: 350px;
        }

        &__message {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__row {
            margin-bottom: 10px;
        }

        &__edit-admin-info {
            width: 360px;
            font-size: $font-size--sm;

            &-box {
                margin-top: 5px;
            }

            &-description {
                color: $dark-grey;
            }
        }

        &__limit-info {
            width: 360px;
            font-size: $font-size--sm;

            &-box {
                margin-top: 5px;
            }

            &-title {
                color: $secondary-blue;
            }

            &-description {
                color: $dark-grey;
            }
        }

        &__users-limit-description {
            text-align: left;
            font-size: $font-size--sm;
            margin-bottom: 10px;
        }
    }
}
