@import "../../scss/vars";

.main-layout-footer {
    display: flex;
    background-color: $primary-blue;
    height: 40px;
    width: 100%;

    &__powered {
        float: left;
        padding-left: 20px;
        color: white;
        align-self: center;
    }
}
